.nav {
  background-color: #064bb4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_items {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 500;
}

.nav_logo {
  padding: 5px;
}

.nav_active:active {
  color: red;
}
