.section_trainer {
  width: 280px;
  padding: 8px 4px;
  border-radius: 10px;
  background: rgb(118, 133, 185);
}

.section_trainer_img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.section_trainer_img img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.section_trainer_info {
  text-align: center;
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.section_trainer_info span {
  font-size: 18px;
  color: #000;
}
