.button_link {
  font-size: 16px;
  color: #1c1c1e;
  padding: 16px 32px;
  font-weight: 500;
  display: inline-block;
  border-radius: 25px;
}

.button_lemon {
  background-color: #bcff5e;
}
.button_yellow {
  background-color: #ffca01;
}
